html{
    scroll-behavior: smooth;
}
* { 
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

/*Zmiany dotyczące Headera*/
.main-header {
    background: tomato;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
    font-size: 200%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 0.5s ease-in-out;
}

.nav__link:hover {
    color: black;
    text-decoration: none;
}

/*Zmiany dotyczące Sekcji(about)*/
.about {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.about .container {
    height: 100%;
    display: flex;
    align-items: flex-start
}

.about:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
}

.about__img {
    position: absolute;
    mix-blend-mode: multiply;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pies 10s infinite;
}   
/*Animacja góra-dół przy tle*/
@keyframes pies{
    0%{top:50%;}
    50%{top:80%;}
    100%{top:50%;}
}

.about__caption {
    position: relative;
    z-index: 10;
    max-width: 100%;
    color: #fff;
}

.about__caption h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.about__caption p {
    font-size: 24px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*Zmiany początkowe dla sekcji 2*/
.row {
    display: flex;
    background: rgba(0, 0, 0, 0.1);

}

.column {
    flex: 33.33%;
    padding: 15px;
    border-top: 3px solid grey;
    margin-bottom: 10px;
}

.text1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    padding: 5px;
}

.text2 {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
}
.img_3pictures{
    border:1px solid grey;
    border-radius: 24px;
}

/*Zmiany początkowe dla sekcji 3(lista informacji)*/
.info_list {
    background: tomato;
    text-align: center;
    color: white;
    padding: 20px;
}

.text_info {
    padding: 10px;
    font-size: 150%;
}

li {
    padding: 5px;
    margin-left: 50px;
    text-align: left;
}

/*Zmiany początkowe dla sekcji 4(newsy)*/
.news {
    background: rgba(0, 0, 0, 0.1);
}

.p_title {
    text-align: center;
    font-size: 200%;
    padding-top: 20px;
}

.news_text {
    padding: 20px;
    text-align: center;
}

/*Zmiany początkowe dla Stopki(formularz)*/
.footer_top {
    background: tomato;
    padding: 20px;
    text-align: center;
}

.footer_bottom {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-size: 120%;
}

.footer_top input {
    padding: 8px;
    border-radius: 24px;
}

.text_area {
    padding: 8px;
    border-radius: 24px;
    margin-top: 5px;
}

.form_text {
    color: white;
    padding: 10px;
    font-size: 200%;
}