* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

/*Zmiany dotyczące Headera*/
.main-header {
    background: tomato;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 50px;
    font-size: 200%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.nav__item {
    display: inline-block;
}
.nav__link {
	color: brown;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	padding-left: 50px;
	padding-right: 50px;
	transition: all 0.5s ease-in-out;
}
.nav__link:hover {
    color: red;
    text-decoration: none;
}

.nav__link--active {
    color: #000;
}
/*Zmiany dotyczące Sekcji(about)*/
.about {
	position: relative;
	height:700px;
	overflow: hidden;
}
.about .container {
	height: 100%;
	display: flex;
	align-items: flex-start
}
.about:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.2);
}
.about__img {
	position: absolute;
	height: 110%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.about__caption {
	position: relative;
	z-index: 10;
	max-width: 100%;
	color: #fff;
}
.about__caption h1 {
	font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}
.about__caption p {
	font-size: 24px;
    margin-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
    text-align: center;
}

